<div class="selectable-colors">
  {{#each selectableColors}}
  <div class="color" {{action 'select' this}}>
    <div class="color-square" {{bind-attr style=fillColor}}>&nbsp;</div>
    {{name}}
  </div>
  {{/each}}
</div>
