<svg width="200px" height="200px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>Artboard 2</title>
    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Artboard-2" sketch:type="MSArtboardGroup">
            <path d="M98.6835215,34 L45,145.345712 L153,145.638554 L98.6835215,34 Z" id="grade-background" stroke="#C3C3C3" stroke-width="3" fill="#EBEBEB" sketch:type="MSShapeGroup"></path>
            <path d="M99,63.3828822 L37.8873264,169.233138 L16.5634933,156.921817 L84.7841113,38.7602407 L83.2356245,36.0781828 L87.881085,33.3961249 L93.4405425,23.7668621 L99,26.9766164 L104.559458,23.7668621 L110.118915,33.3961249 L114.764376,36.0781828 L113.215889,38.7602407 L181.436507,156.921817 L160.112674,169.233138 L99,63.3828822 Z" id="empty-tape" fill="#929292" sketch:type="MSShapeGroup"></path>
            <path d="M99,63.3828822 L37.8873264,169.233138 L16.5634933,156.921817 L84.7841113,38.7602407 L83.2356245,36.0781828 L87.881085,33.3961249 L93.4405425,23.7668621 L99,26.9766164 L104.559458,23.7668621 L110.118915,33.3961249 L114.764376,36.0781828 L113.215889,38.7602407 L181.436507,156.921817 L160.112674,169.233138 L99,63.3828822 Z" id="tape" sketch:type="MSShapeGroup" {{bind-attr fill=primaryColor.hex}}></path>
            <path d="M63.0136057,76.2867878 L50.7736057,97.4870897 L72.0884351,109.793212 L84.3284351,88.5929103 L63.0136057,76.2867878 Z M113.671565,85.8729103 L125.911565,107.073212 L147.226394,94.7670897 L134.986394,73.5667878 L113.671565,85.8729103 Z M132.814422,121.23291 L145.054422,142.433212 L166.369251,130.12709 L154.129251,108.926788 L132.814422,121.23291 Z M43.8707486,108.926788 L31.6307486,130.12709 L52.9455779,142.433212 L65.1855779,121.23291 L43.8707486,108.926788 Z" id="pattern-double-squares" sketch:type="MSShapeGroup" {{bind-attr fill=secondaryColor.hex}}></path>
            <text x="100" y="140" class="svg-problem-grade" font-weight="800" alignment-baseline="auto" fill="#000000">
              {{grade.name}}
            </text>
        </g>
    </g>
</svg>
