<svg width="180px" height="180px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  <title>tape</title>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
    <g id="Artboard-2" sketch:type="MSArtboardGroup" {{bind-attr fill=primaryColor}}>
      <path d="M127.519238,79.263485 L136.009619,64.5577137 L144.5,69.4596374 L152.990381,64.5577137 L161.480762,79.263485 L161.990381,79.5577137 L161.820508,79.8519423 L242.990381,220.442286 L217.009619,235.442286 L144.5,109.851942 L71.9903811,235.442286 L46.0096189,220.442286 L127.179492,79.8519423 L127.009619,79.5577137 L127.519238,79.263485 Z" id="Rectangle-1" stroke="#8E8E8E" stroke-dasharray="10" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
      <rect id="Rectangle-1" sketch:type="MSShapeGroup" transform="translate(104.000000, 150.000000) rotate(-330.000000) translate(-104.000000, -150.000000) " x="89" y="60" width="30" height="180"></rect>
      <rect id="Rectangle-1" sketch:type="MSShapeGroup" transform="translate(185.000000, 150.000000) rotate(-30.000000) translate(-185.000000, -150.000000) " x="170" y="60" width="30" height="180"></rect>
      <text id="V0" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="40" font-weight="normal" sketch:alignment="middle" fill="#000000">
          <tspan x="116" y="210">{{grade}}</tspan>
      </text>
    </g>
  </g>
</svg>
