html, body {
  margin: 0;
  padding: 0;
  background-color: #333;

  color: #fff;
}

a {
  color: #3498db;
  &:visited {
    color: #2980b9;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;

    li {
      margin: 0;
      padding: 0;
      float: left;
      a {
        display: block;
        padding: 5px 8px;
      }
    }
  }
}

.container {
  width: auto;
}

.problem-display {
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

.grade, .tape, .color {
  input {
    display: none;
  }
}

.grades {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 1em 0;

  .grade {
    display: inline-block;
    white-space: normal;
    padding: 15px;
    cursor: pointer;
  }

}

.btn {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 4px;
  cursor: pointer;
}

div.tape-colors {
  overflow: auto;
  margin-bottom: 1em;
}

label.color {
  float: left;
  padding: 5px;

  .color-square {
    border: 1px solid #333;
    float: left;
    margin-right: 3px;
    width: 1em;
    height: 1em;
  }
}

@import 'problem';
