text.svg-problem-grade {
  font-family: arial black, sans-serif;
  font-size: 34px;
  text-anchor: middle;
}

div.grades {
  // @include button-group-style();
  @include button-group-container();

  .grade-select {
    @include button-group-style($float: left);
  }

  label.grade {
    @include button();
  }
}

.tape-small {
  display: inline-block;
  float: left;

  &.tape-primary {
    width: 80px;
  }

  &.tape-secondary {
    width: 20px;
  }
}
