<div class="row">
  <div class="small-12 columns">
    {{#each}}
      <div>
        {{#link-to 'problem' this}}
          {{grade.name}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>
